@import "../vars";
@import "../mixins";

:root {
	font-size: 0.625rem;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: $black;
	background: darken(white, 7);
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.demo-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 $spacing;
	background: $white;

	&-logo {
		display: block;
		padding: $spacing / 2 0;
		font-size: 24px;
		font-weight: 400;
		color: $black;
	}
}

.demo-main {
	padding-top: $spacing * 2;

	&-wrapper {
		margin: 0 auto;
		max-width: 700px;
		padding: 0 $spacing;
	}
}