/*------------------------------------*\
    #BASAL-NAV
\*------------------------------------*/

@mixin collapsed() {

	$p: '.basal-nav';

	#{$p}__nav {
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background: $white;
		will-change: transform;
		transform: translateX(100%);
		@include ease('in-out', 0.25);
	}

	#{$p}__nav--active {
		transform: translateX(0);
		@include ease('in-out', 0.25);
	}

	#{$p}__list {
		display: block;
		list-style-type: none;
		margin-top: $spacing * 3;
		padding: 0;
	}

	#{$p}__item {
		margin: 0;
	}

	#{$p}__link {
		display: block;
		padding: ($spacing / 1.5) ($spacing);
		font-size: 1.8rem;
		color: $black;

		&:hover {
			background: mix(black, $white, 10);
		}
	}

	@include bp-small {

		#{$p}__nav {
			width: 300px;
		}
	}
}

@mixin expanded() {

	$p: '.basal-nav';

	#{$p}__nav {
		display: block !important;
		transform: none;
		position: static;
		height: auto;
		width: auto;
		background: none;
	}

	#{$p}__list {
		display: flex;
		margin: 0;
	}

	#{$p}__item {
		margin: 0 0 0 $spacing;
	}

	#{$p}__link {
		font-size: 1.6rem;
		padding: 0;

		&:hover {
			background: none;
			color: mix(white, $black, 20);
		}
	}
}

.basal-nav {
	@include collapsed;

	@include bp-medium {

		@include expanded;

		&--collapsed {
			@include collapsed;
		}
	}
}